.artist-cover {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: white;
    background-color: rgba(21, 22, 30, 0.7);
}

.artis-name {
    font-size: 32px;
    font-weight: normal;
}

.additional-info {
    padding-bottom: 10px;
}

.artist-cover img {
    width: 128px;
    height: 128px;
}

.avatar img {
    border-radius: 50%;
}

@media only screen and (max-width: 960px) {

    .artist-cover {
        padding-top: 16px;
        height: 50%;
    }

}
